* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url(../img/1.jpg) no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  font-size: 17px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(235, 235, 235, 0.8);
  z-index: -1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 50px 10%;
  display: none;
}
section.active {
  display: block;
}

.heading {
  text-align: center;
  color: #1b3972;
  padding: 10px 30px;
  border-radius: 5px;
  background: #3535352d;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  position: relative;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.048);
}

.header .logo {
  width: 150px;
}
.header .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.header .navbar ul li {
  display: inline-block;
  margin-right: 25px;
}
.header .navbar ul li a.active {
  color: #1b3972;
}
.header .navbar ul li a {
  color: #494949;
  font-weight: bold;
}
.header .navbar ul li a:hover {
  color: #1b3972;
}

.logout {
  display: inline-block;
  border: none;
  padding: 8px;
  width: 100px;
  background: #1b3972;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.2s;
}
.logout:hover {
  background: #222;
}
.logout:active {
  transform: scale(1.03);
}
.logout i {
  margin-left: 5px;
  transition: .3s;
}
.logout:hover i {
  color: #f8000c;
  padding-left: 5px;
}

.table {
  padding: 50px;
  background: #c2c2c249;
  margin: auto;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  color: #353535;
}

table tr td {
  padding: 15px;
}

.basic table tr td:first-child {
  font-weight: bold;
}

table tr td img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.examiner .table table,
.fees .table table,
.scedule .table table {
  text-align: center;
  width: 80%;
  margin: auto;
}

.examiner .table table tr:nth-child(odd),
.fees .table table tr:nth-child(odd),
.scedule .table table tr:nth-child(odd) {
  background: #213e7e15;
}

.examiner .table table tr th,
.fees .table table tr th,
.scedule .table table tr th {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  background: #06032e;
  color: #fff;
}
.examiner .table table tr td:not(:last-child),
.examiner .table table tr th:not(:last-child),
.fees .table table tr td:not(:last-child),
.fees .table table tr th:not(:last-child),
.scedule .table table tr td:not(:last-child),
.scedule .table table tr th:not(:last-child) {
  border-right: 1px solid #fff;
}

.fa-bars {
  padding: 5px;
  color: #1b3972;
  border: 1px solid #1b3972;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

.pass form {
  width: 350px;
  padding: 30px;
  background: rgba(21, 51, 116, 0.144);
  border-radius: 10px;
  margin: auto;
}

.pass form input{
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 15px;
  color: #000;
  background: #fff;
  border: 2px solid transparent;
}

.pass form input[type="submit"] {
  margin-bottom: 0;
  cursor: pointer;
  background: #305497;
  color: #fff;
  border: none;
  transition: .2s;
}
.pass form input[type="submit"]:hover {
  background: green;
}
.pass form input::placeholder {
  text-transform: lowercase;
  opacity: 1;
  transition: .2s;
}
.pass form input[type="submit"]:active {
  transform: scale(1.02);
}
.pass form input:focus::placeholder {
  opacity: 0;
} 
.pass form input:focus {
  border-color: #305497;
}

.pass form .forgot {
  color: #305497;
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
}
.pass form .forgot:hover {
  color: #06032e;
}
@media (max-width: 991px){
  .header {
    padding: 5px 3%;
  }
  .header .navbar ul {
    text-align: center;
  }
  .header .navbar ul li a {
    font-size: 13px;
  }
  .fa-bars {
    display: inline-block;
  }
  .header .navbar ul {
    position: absolute;
    top: 125%;
    right: -12px;
    width: 200px;
    background: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }

  .header .navbar ul.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    display: block;
    margin: 25px 0;
  }
}

@media (max-width: 797px) {
  section {
    padding: 0;
  }
  
  .table {
    padding: 50px 10px;
    border-radius: 0;
  }
  .table table,
  .examiner .table table,
  .fees .table table,
  .scedule .table table {
    width: 100%;
  }
 
  .header .logo {
    width: 70px;
  }
  
  .logout  {
    font-size: 11px;
    width: 85px;
  }
}

@media (max-width: 450px) {
  .pass form {
    width: 100%;
    padding: 30px 20px;
  }
 table tr {
   font-size: 13px;
 }
 table tr td{
   padding: 15px 2px;
 }
 table tr th{
   font-size: 11px;
 }
}